@import url('https://fonts.googleapis.com/css2?family=Poppins');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
  text-decoration: none;
}
html,body {
    overflow-x: hidden;
}
body {
  margin: 0;
  width: 100vw;
  min-height: 80vh;
  background: #ecf0f3;
  font-family: poppins, sans-serif;
}

/* ========= Faculty Profile ====== */
.profile-container {
  width: 80%;
  margin: 10px auto;
}
.btns {
  display: flex;
  align-items: center;
}

.attendance-table {
  margin-bottom: 200px;
}

#latitude , #longitude {
  display: none;
}
button:disabled{
  background-color: #7c8488;
}
#live-location{
  background-color: #c7ba0a;
  padding: 5px;
  cursor: pointer;
  color: white;
  border-radius: 20px;
  margin-top: 10px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    flex-direction: column;
    margin-bottom: 200px;
}

.navbar {
    width: 100vw;
    align-items: center;
    display: flex;
    justify-content: center;
    background: white;
    box-shadow: 10px 2px 20px 0px #0000001c;
}

.form-container {
  margin-top: -100px;
  position: relative;
  width: 350px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
  margin-bottom: 50px;
}
.brand-logo {
  height: 100px;
  width: 100px;
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}
.brand-logo img {
    max-width: 100%;
    height: 100%;
    border-radius: 50%;
}
.brand-title {
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.8rem;
  color: #1DA1F2;
  letter-spacing: 1px;
  text-align: center;
}

form {
  text-align: left;
  margin-top: 30px;
}

label, input, button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

label {
  margin-bottom: 4px;
}

input::placeholder {
  color: gray;
}

input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

button {
  margin-top: 30px;
  background: #1DA1F2;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
  color: rgb(37, 37, 53);
}

button:hover {
  box-shadow: none;
}

footer {
    font-size: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #35425a;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}
.ctn-bnts {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}
.ctn-bnts a {
  margin: auto 10px;
}
.copyright {
    font-size: 12px;
    color: rgb(187, 187, 187);
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
}

.lop-title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}
.lop-title  h2 {
  color: #263145;
}
#button-excel {
  max-width: 150px;
  color: white;
}
/* Principal dashboard */
.stats-heading{
  font-weight: 800;
}
#today-stats{
  box-shadow: 2px 2px 10px 5px #00000021;
  margin: 5px;
}
#today-stats .col {
  border-radius: 10px;
  margin: 10px;
  padding: 10px 0px;
  min-width: 120px;
}
#principal-dashboard{
  overflow: scroll;
  padding: 10px 60px;
  margin-bottom: 150px;
  
}
#principal-dashboard .table {
  overflow: scroll;
  margin: 10px;
}
#principal-dashboard form {
  display: flex;
}
#principal-dashboard form div {
  margin: 0 10px;
}

@media only screen and (max-width:800px){
  .profile-container{
    width: 95%;
  }
  #principal-dashboard{
    padding: 10px;
  }
  #principal-dashboard form {
    flex-wrap: wrap;
  }
    .navbar {
        display: block;
    }
    .copyright {
        font-size: 3vmin;
        text-align: center;
    }
    .detailed-attendance {
      padding: 0px 5%;
    }
}