{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- This is the common sidebar for hod and principal Dashboard -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if request.user.is_admin %}
            <title class="text-white mt-2">Principal Dashboard</title>
    {% elif request.user.is_staff %}  
           <title>{{request.user.dept}} Dashboard</title>
    {% endif %} 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/leave.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>
 
<div id="wrapper">
    <aside id="sidebar-wrapper">
      <div class="sidebar-brand">
          <!-- <h2>WISTM {{request.user.dept}}</h2> -->
          <img src="{% static 'img/logo.png' %}" alt="">
          
      </div>
      <ul class="sidebar-nav">
        <li class="">
        {% if request.user.is_admin %}
            <a href="{% url 'principalDashboard' %}"><i class="fa fa-home"></i>Dashboard</a>
           
            <li class="{% if '/lopStatement' in request.path %}active{% endif %}">
              <a href="{% url 'facultyStatus' %}"><i class="fa fa-user"></i>Faculty Status</a>
            </li>
          {% elif request.user.is_staff %}
              <a href="{% url 'hodDashboard' %}"><i class="fa fa-home"></i>Dashboard</a>
            <li class="{% if '/facultyList' in request.path %}active{% endif %}">
              <a href="{% url 'facultyStatus' %}"><i class="fa fa-user"></i>Faculty Status</a>
            </li> 
          {% else %}  
            <a href="{% url 'home' %}"><i class="fa fa-chevron-circle-right"></i>Attendance</a>
            <li class="{% if '/faculty' in request.path %}active{% endif %}">
              <a href="{% url 'facultyDashboard' %}"><i class="fa fa-address-card"></i>Dashboard</a>
            </li>
            <li class="{% if '/apply' in request.path %}active{% endif %}">
              <a href="{% url 'applyleave' %}"><i class="fa fa-envelope"></i>Apply Leave</a>
            </li>
            <li class="{% if '/status' in request.path %}active{% endif %}">
              <a href="{% url 'leaveStatus' %}"><i class="fa fa-envelope-o"></i>Leaves Status</a>
            </li>
          {% endif %}  
        </li>
        <li class="{% if '/requests' in request.path %}active{% endif %}">
          {% if request.user.is_admin %}
            <a href="{% url 'leaveRequestsForPrincipal' %}"><i class="fa fa-bell"><sup class="leave-request-count">{{leaveRequestCount}}</sup></i>Leave Requests</a>
          {% elif request.user.is_staff %}  
            <a href="{% url 'leaveRequestsForHod' %}"><i class="fa fa-bell"><sup class="leave-request-count">{{leaveRequestCount}}</sup></i>Leave Requests</a>
          {% endif %}  
        </li>
        
        <li class="">
          <a href="{% url 'logoutUser' %}" ><i class="fa fa-sign-out"></i>Logout</a>
        </li>

      </ul>

    
      <p class="copyright">
        Design & Developed By <br>  Gowtham Tirri | WISTM CSE
      </p>
    </aside>
  
    <div id="navbar-wrapper">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="#" class="navbar-brand bg-primary py-1 px-3 text-white rounded" id="sidebar-toggle"><i class="fa fa-bars"></i></a>
          </div>
          
        </div>
      </nav>
    </div>
  
    {% block content %}

    {% endblock %}
  </div>

  <script>
    const $button  = document.querySelector('#sidebar-toggle');
    const $wrapper = document.querySelector('#wrapper');
    const toggleBtn = document.querySelector('.fa-bars')

    $button.addEventListener('click', (e) => {
      e.preventDefault();
      $wrapper.classList.toggle('toggled');
    });

    // Remove message after 4seconds
  setTimeout(function(){
    $('#message').fadeOut('slow')
  }, 4000)

  </script>
  

  <script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
  <script src="{% static 'js/main.js' %}"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap cdn -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>

</body>
</html>