{% extends 'dashboards/base_dashboard.html' %}
{% load static %}

{% block content %}

    <!-- {% if request.user.is_admin %}
    <div class="row p-3 text-white text-center" id="today-stats" >
    <div style="background: #29d4be;" class="col">
        <h5>Female Faculty</h5>
        <h4>{{female_faculty}}</h4>
    </div>
    <div style="background: #6147b1;" class="col">
        <h5>Male Faculty</h5>
        <h4>{{male_faculty}}</h4>
    </div>
    
    <div style="background: #5AA6F7;" class="col">
        <h5>Counselling Duty</h5>
        <h4>{{counselling}}</h4>
    </div>
    <div style="background: #F8C771;" class="col">
        <h5>AU</h5>
        <h4>{{au}}</h4>
    </div>
   
</div>
    {% endif %} -->


    <div class="lop-title">
        <h2>Faculty Available Leaves</h2>
        <button id="button-excel">Export Excel</button>
    </div>

<table id="loptable" class="table table-striped table-hover m-5">
    <thead class="bg-primary text-white">
        <tr>
        <th scope="col">NAME</th>
        <th scope="col">DEPARTMENT</th>
        <th scope="col">CL</th>
        <th scope="col">EL</th>
        <th scope="col">CO</th>
        <th scope="col">LOP</th>
        </tr>
    </thead>
    <tbody>
        {% for a in faculty_list %}
                <tr>
                    <th scope="row">{{a.employee}}</th>
                    <td>{{a.employee.dept}}</td>
                    <td>{{a.casual_leaves}}</td>
                    <td>{{a.earn_leaves }}</td>
                    <td>{{a.compensation_leaves }}</td>
                    <td>{{a.loss_of_pay }}</td>
                </tr>
        {% endfor %}
    </tbody>
    </table>

    
{% endblock %}