{% extends 'dashboards/base_dashboard.html' %}
{% load static %}

{% block content %}

    <h3>Faculty Report</h3>

    <table class="table table-striped table-hover mt-5 " id="loptable">
        <thead class="bg-primary text-white">
          <tr>
          <th scope="col">NAME</th>
          <th scope="col">DEPARTMENT</th>
          <th scope="col">LOCATION</th>
          <th scope="col">TIME</th>
          <th scope="col">MAP LINK</th>
          </tr>
        </thead>
        <tbody>
          {% for a in attendances %}
                  <tr>
                      <th scope="row">{{a.employee}}</th>
                      <td>{{a.employee.dept}}</td>
                      <td>
                          {% if a.location == 'other' %}
                              {{a.other}}
                          {% else %} 
                              {{a.location}}
                          {% endif %}
        
                      </td>
                      <td>{{a.dateTime }}</td>
                      <td><a target="blank" href="{{a.maplink}}">view map</a></td>
                  </tr>
          {% endfor %}
        </tbody>
        </table>

{% endblock content %}
